 h2 {
     text-align: center;
     color: #00FF00;
     font-size: 200%;
     font-family: 'Rubik', sans-serif;
 }

 .img.sinistra {
   background-color: orange;
   width: 300%;
   border-radius: 50%;
   float: center;
   margin-right: 20%;
  }