 h2 {
     text-align: center;
     color: #00FF00;
     font-size: 200%;
     font-family: 'Rubik', sans-serif;
 }

 
  body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }